@import "../src/assets/Styles.scss";

.App {
  .content {
    height: calc(100vh - $taskbar-height);
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    overflow: auto;
  }
}
